.result {
    border-top: 5px solid;
}

.result--Lifestyle {
    border-top-color: var(--source-palette-lifestyle-600);
}

.result--News {
    border-top-color: var(--source-palette-news-600);
}

.result--Sport {
    border-top-color: var(--source-palette-sport-600);
}

.result--Opinion {
    border-top-color: var(--source-palette-opinion-600);
}

.result--Arts {
    border-top-color: var(--source-palette-arts-600);
}

.result--Culture {
    border-top-color: var(--source-palette-culture-600);
}

.result h1 {
    font-family: var(--source-font-family-headline);
}

.result a {
    text-decoration: none;
    color: inherit;
}

.result-publication-date {
    font-style: italic;
}

.result-main img {
    display: block;
    margin-left: 10%;
    margin-bottom: 10px;
    max-width: 80%;
    height: auto;
}

.result-main figcaption {
    font-size: 0.8em;
}
